/*
 *---------------------------------------------------------------
 * 统一处理element ui公用样式
 *---------------------------------------------------------------
 */

/**
 * el-form
 * @param {*} params 
 */
.el-form-item {
	margin-bottom: 16px !important;
}

.el-form-item__label {
	font-size: 13px !important;
}

.form-item-width {
	width: 160px !important;
}

/**
 * el-dialog
 * @param {*} params 
 */
.el-dialog__body {
	min-height: 200px;
	padding: 15px 20px !important;
}

/**
 * el-table
 * @param {*} params 
 */
.el-table td,
.el-table th {
	padding: 0;
}

.el-table .cell,
.el-table th div,
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
	padding-left: 4px;
}
// table border 形式并没有写入 后续需要调整
.el-table .cell,
.el-table th div {
	padding: 4px;
	height: 32px;
	.tableGoods {
		min-height: 30px;
		margin: -4px;
		.shows{
			height: 100%;
		}
	}
	.el-input--mini .el-input__inner {
		height: 32px;
		line-height: 32px;
	}
	.el-input__inner {
		border: none;
		border-radius: 0;
		padding: 0 12px;
	}
}
